<section ng-init="mainCtrl.showDrink()">
	<h1>Edit Drink</h1>
		<form class="form-inline">
			<div class="form-group">
				<input type="text" ng-model="mainCtrl.currentDrink.name" class="form-control">
				<input type="text" ng-model="mainCtrl.currentDrink.recipe" class="form-control">
				<input type="text" ng-model="mainCtrl.currentDrink.price" class="form-control">
				<input type="submit" ng-click="mainCtrl.editDrink()" class="form-control">
			</div>
		</form>
		<a href="#/">Back</a>
</section>